.logos {
  width: 960px;
  height: 120px;
  margin: 0 auto; }

#bg {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.6;
  background-color: #1e1315; }

body {
  color: #ffffff; }

.container1 {
  width: 80px;
  height: 80px;
  position: relative;
  margin: 10px auto 10px;
  border: 1px solid #cccccc;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px; }

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translateZ(-50px);
  -moz-transform: translateZ(-50px);
  -o-transform: translateZ(-50px);
  transform: translateZ(-50px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }

#cube.spinning {
  -webkit-animation: spinCubeWebkit 8s infinite ease-in-out;
  -moz-animation: spinCubeMoz 8s infinite ease-in-out; }

@-webkit-keyframes spinCubeWebkit {
  0% {
    -webkit-transform: translateZ(-50px) rotateX(0deg) rotateY(0deg); }

  100% {
    -webkit-transform: translateZ(-50px) rotateX(360deg) rotateY(360deg); } }

@-moz-keyframes spinCubeMoz {
  0% {
    -moz-transform: translateZ(-50px) rotateX(0deg) rotateY(0deg); }

  100% {
    -moz-transform: translateZ(-50px) rotateX(360deg) rotateY(360deg); } }

#cube figure {
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  line-height: 96px;
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0; }

#cube.panels-backface-invisible figure {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

#cube .front {
  background-image: url("/assets/cube/1.png"); }

#cube .back {
  background-image: url("/assets/cube/4.png"); }

#cube .right {
  background-image: url("/assets/cube/3.png"); }

#cube .left {
  background-image: url("/assets/cube/4.png"); }

#cube .top {
  background-image: url("/assets/cube/5.png"); }

#cube .bottom {
  background-image: url("/assets/cube/6.png"); }

#cube .front {
  -webkit-transform: translateZ(40px);
  -moz-transform: translateZ(40px);
  -o-transform: translateZ(40px);
  transform: translateZ(40px); }

#cube .back {
  -webkit-transform: rotateX(-180deg) translateZ(40px);
  -moz-transform: rotateX(-180deg) translateZ(40px);
  -o-transform: rotateX(-180deg) translateZ(40px);
  transform: rotateX(-180deg) translateZ(40px); }

#cube .right {
  -webkit-transform: rotateY(90deg) translateZ(40px);
  -moz-transform: rotateY(90deg) translateZ(40px);
  -o-transform: rotateY(90deg) translateZ(40px);
  transform: rotateY(90deg) translateZ(40px); }

#cube .left {
  -webkit-transform: rotateY(-90deg) translateZ(40px);
  -moz-transform: rotateY(-90deg) translateZ(40px);
  -o-transform: rotateY(-90deg) translateZ(40px);
  transform: rotateY(-90deg) translateZ(40px); }

#cube .top {
  -webkit-transform: rotateX(90deg) translateZ(40px);
  -moz-transform: rotateX(90deg) translateZ(40px);
  -o-transform: rotateX(90deg) translateZ(40px);
  transform: rotateX(90deg) translateZ(40px); }

#cube .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(40px);
  -moz-transform: rotateX(-90deg) translateZ(40px);
  -o-transform: rotateX(-90deg) translateZ(40px);
  transform: rotateX(-90deg) translateZ(40px); }

#cube {
  position: absolute; }

.pivot-point {
  position: absolute;
  width: 50%;
  height: 50%;
  -webkit-transform: translateZ(-80px);
  -moz-transform: translateZ(-80px);
  -o-transform: translateZ(-80px);
  transform: translateZ(-80px); }

.pivot-point:after {
  content: '';
  display: block;
  width: 1.0em;
  height: 1.0em;
  background: black;
  position: absolute;
  right: -0.5em;
  bottom: -0.5em;
  border-radius: 0.5em; }

.bgwidth {
  width: 100%; }

.bgheight {
  height: 100%; }

.container-fluid {
  position: relative;
  z-index: 2;
  margin: 10px;
  background-color: #1e1315;
  padding: 15px; }

.container-fluid .row-fluid {
  border-color: #333333;
  border-style: solid; }

.container-fluid .row-fluid.upper {
  border-width: 1px 1px 0 1px; }

.container-fluid .row-fluid.lower {
  border-width: 0 1px 1px 1px; }

.container-fluid .span12 {
  text-align: center;
  color: #333333;
  margin-bottom: 10px; }

.container-fluid .span12 h1 {
  font-family: "league-gothic";
  text-transform: uppercase;
  font-weight: 200;
  color: #ffffff;
  text-align: center;
  font-size: 80px;
  margin: 0; }

.container-fluid .span12 small {
  color: #f34e37;
  line-height: 10px; }

.container-fluid .span3 {
  background-color: #1e1315; }

.container-fluid .span3 h3 {
  margin: 0 0 0 5px; }

.container-fluid .span3 ul {
  list-style: none;
  display: block;
  height: 500px;
  background-color: #f34e37;
  margin: 0 0 0 5px; }

.container-fluid .span3 ul li {
  display: block;
  height: 80px;
  border: 1px solid #333333;
  background-color: #ffffff;
  padding: 0;
  position: relative; }

.container-fluid .span3 .description {
  margin: 0 0 0 5px;
  background-color: #f34e37; }

.container-fluid .span3 .description h4,
.container-fluid .span3 .description p {
  margin: 5px 0 0 5px; }

.container-fluid .span9 {
  background-color: black;
  overflow: hidden; }

.container-fluid .span9 .main-content-container {
  margin: 0 5px 0 0;
  overflow: hidden; }

.container-fluid .span9 .main-content {
  width: 90000px;
  height: 700px;
  overflow: hidden; }

.container-fluid .span9 .main-content h2 {
  margin: 0 0 0 5px;
  font-size: 80px;
  line-height: 80px; }

.container-fluid .span9 .main-content ul {
  position: relative;
  list-style: none;
  margin-left: 0; }

.container-fluid .span9 .main-content ul li {
  display: block;
  position: relative;
  float: left;
  height: 900px;
  background-color: #333333; }
