.MainArea img {
  width: 100%;
}
.MainArea p {
  font-size: 1.5em;
  margin: 0 0 5px 0;
}
.MainArea a {
  color: #fff
}
.MainArea a:hover {
  color: #f47040;
}
.MainArea hr {
  margin: 0 0 10px 0;
}
.MainArea {
  position: relative;
}
.MainArea div {
  position: relative;
  top: 0;
  left: 0;
}
.MainArea h3.welcome {
  font-size: 20vw;
  line-height: 0.8em;
  margin: 0;
}
.MainArea hr.welcome {
  font-size: 6em;
  margin: 0;
  border-width: 0.5em;
  margin-bottom: 10px;
}
.MainArea p.welcome {
  font-family: "league-gothic", sans-serif;
  font-size: 6em;
  line-height: 1em;
  margin: 0;
}
.placeholderBorder {
  border: 1px solid #fff;
  padding: 5px;
  margin: 10px 0;
}
.placeholder {
  background-color: #f6f6f6;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.placeholder img {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 200ms ease-in;
}
.placeholder img.loaded {
  opacity: 1;
}
.imgSmall {
  filter: blur(20px);
  /* this is needed so Safari keeps sharp edges */
  transform: scale(1);
}
