#SideBar {
  padding: 0;
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  overflow: hidden;
  border-top: 1px solid white;
}
#SideBar li {
  display: block;
  position: relative;
  list-style: none;
  padding-left: 5px;
  border-bottom: 1px solid white;
  cursor: pointer;
  z-index: 100;
  padding-top: 5px;
}
#SideBar li p {
  font-size: 1.2em;
}
#SideBar li img {
  position: absolute;
  right: -60px;
  top: 0;
  z-index: 99;
  pointer-events: none;
}
#SideBar .ActiveSideBarItem {
  border-left: 4px solid #c83e2c;
}
