// color variables
$darkmaroon: #230705;
$mainorange: #f47040;
$secondorange: #c83e2c;
$thirdorange: #832318;

.logos {
  width: 960px;
  height: 120px;
  margin: 0 auto;
}
#bg {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.6;
  background-color: #2d0c08;
}
body {
  color: #ffffff;
}
#cube-container {
  width: 80px;
  height: 80px;
  position: relative;
  margin: 10px auto 10px;
  border: 1px solid #CCC;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}
#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translateZ(-50px);
  -moz-transform: translateZ(-50px);
  -o-transform: translateZ(-50px);
  transform: translateZ(-50px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#cube.spinning {
  -webkit-animation: spinCubeWebkit 8s infinite ease-in-out;
  -moz-animation: spinCubeMoz 8s infinite ease-in-out;
}
@-webkit-keyframes spinCubeWebkit {
  0% {
    -webkit-transform: translateZ(-50px) rotateX(0deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: translateZ(-50px) rotateX(360deg) rotateY(360deg);
  }
}
@-moz-keyframes spinCubeMoz {
  0% {
    -moz-transform: translateZ(-50px) rotateX(0deg) rotateY(0deg);
  }
  100% {
    -moz-transform: translateZ(-50px) rotateX(360deg) rotateY(360deg);
  }
}
#cube figure {
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  line-height: 96px;
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0;
}
#cube.panels-backface-invisible figure {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
#cube {
  position: absolute;
  .front {
    background-image: url("/assets/cube/1.png");
  }
  .back {
    background-image: url("/assets/cube/4.png");
  }
  .right {
    background-image: url("/assets/cube/3.png");
  }
  .top {
    background-image: url("/assets/cube/5.png");
  }
  .left {
    background-image: url("/assets/cube/4.png");
  }
  .bottom {
    background-image: url("/assets/cube/6.png");
  }
  .front {
    -webkit-transform: translateZ(40px);
    -moz-transform: translateZ(40px);
    -o-transform: translateZ(40px);
    transform: translateZ(40px);
  }
  .back {
    -webkit-transform: rotateX(-180deg) translateZ(40px);
    -moz-transform: rotateX(-180deg) translateZ(40px);
    -o-transform: rotateX(-180deg) translateZ(40px);
    transform: rotateX(-180deg) translateZ(40px);
  }
  .right {
    -webkit-transform: rotateY(90deg) translateZ(40px);
    -moz-transform: rotateY(90deg) translateZ(40px);
    -o-transform: rotateY(90deg) translateZ(40px);
    transform: rotateY(90deg) translateZ(40px);
  }
  .left {
    -webkit-transform: rotateY(-90deg) translateZ(40px);
    -moz-transform: rotateY(-90deg) translateZ(40px);
    -o-transform: rotateY(-90deg) translateZ(40px);
    transform: rotateY(-90deg) translateZ(40px);
  }
  .top {
    -webkit-transform: rotateX(90deg) translateZ(40px);
    -moz-transform: rotateX(90deg) translateZ(40px);
    -o-transform: rotateX(90deg) translateZ(40px);
    transform: rotateX(90deg) translateZ(40px);
  }
  .bottom {
    -webkit-transform: rotateX(-90deg) translateZ(40px);
    -moz-transform: rotateX(-90deg) translateZ(40px);
    -o-transform: rotateX(-90deg) translateZ(40px);
    transform: rotateX(-90deg) translateZ(40px);
  }
} 
.bgwidth {
  width: 100%;
}
.bgheight {
  height: 100%;
}
.container-fluid {
  position: relative;
  z-index: 2;
  margin: 10px;
  background-color: $darkmaroon;
  padding: 10px;
  p {
    margin-bottom: 0px;
  }
  .main-line {
    height: 3px;
    // background-color: #f34e37;
    width: 99%;
    border: 0;
    margin: 0px 10px 5px 10px;
  }
  hr.second-line {
    height: 1px;
    background-color: $secondorange;
    border: 0;
    margin: 5px 0px 0px 10px;
  }
  hr.third-line {
    height: 1px;
    background-color: $secondorange;
    border: 0;
    margin: 5px 0px;
  }
  .row-fluid {
    border-color: #333333;
    border-style: solid;
  }
  .row-fluid.upper {
    border-width: 1px 1px 0 1px;
  }
  .row-fluid.lower {
    border-width: 0 1px 1px 1px;
  }
  .span12 {
    text-align: center;
    color: #333333;
    h1 {
      font-family: "league-gothic";
      text-transform: uppercase;
      font-weight: 100;
      color: #ffffff;
      text-align: center;
      font-size: 90px;
      line-height: 80px;
      margin: 0;
    }
    small {
      color: $mainorange;
      line-height: 20px;
      font-size: 18px;
      font-family: "adobe-garamond-pro";
      font-weight: 200;
      font-style: italic;
    }
  }
  .span3 {
    background-color: $darkmaroon;
    overflow: hidden;
    .description {
      // margin: 0 0 0 10px;
      &.fixed {
        position: fixed;
        top: 2px;
      }
      h4 {
        font-family: "league-gothic";
        margin: 5px 0 0 15px;
        font-size: 30px;
        line-height: 30px;
        font-weight: 200;
        text-transform: uppercase;
      }
      p {
        font-family: "adobe-garamond-pro";
        margin: 5px 0 0 15px;
        opacity: 0;
        font-size: 14px;
        text-indent:14px;
      }
      p.first-line {
         text-indent: 0;
      }
      a {
        color: $mainorange;
        text-decoration: underline;
      }
      a:hover {
        text-decoration: none;
      }
      .scrolltop {
        width: 32px;
        height: 32px;
        margin: 10px 0 20px 20px;
      }
    }
    ul {
      list-style: none;
      display: block;
      height: auto;
      background-color: $darkmaroon;
      margin: 0 0 0 10px;
      li {
        display: block;
        min-height: 55px;
        // border-top: 1px solid #ffffff;
        border-bottom: 1px solid $thirdorange;
        border-top-width: 0;
        background-color: $darkmaroon;
        padding: 5px 0 0 0;
        position: relative;
        p {
          font-family: "adobe-garamond-pro";
          font-size: 16px;
          line-height: 24px;
          margin: 0 0 0 5px;
          clear: left;
          float: left;
          strong {
            font-style: italic;
            font-weight: 900;
          }
        }
        img {
          position: absolute;
          top: 0px;
          opacity: 0;
          right: -60px;
          // height: 50px;
        }
      }
    }
  }
  h3 {
    margin: 0 0 0 15px;
    font-family: "league-gothic";
    font-weight: 200;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
  }
  .span9 {
    background-color: $darkmaroon;
    overflow: hidden;
    .main-content-container {
      margin: 0 5px 0 0;
      overflow: hidden;
    }
    .main-content {
      width: 90000px;
      // height: auto;
      // overflow: hidden;
      background-color: $darkmaroon;
      img {
        border: 5px solid $secondorange;
        margin-bottom: 10px;
      }
      h2 {
        font-family: "league-gothic";
        text-transform: uppercase;
        font-weight: 100;
        color: #ffffff;
        text-align: left;
        font-size: 60px;
        line-height: 50px;
        margin: 0;
      }
      ul {
        position: relative;
        list-style: none;
        margin-left: 0;
        background-color: $darkmaroon;
        height: auto;
        li {
          // height: 200px;
          overflow: hidden;
          display: block;
          position: relative;
          float: left;
          // height: auto;
          background-color: $darkmaroon;
          margin-right: 10px;
        }
      }
    }
  }
}